version: "3.1"
services:
  mongodb:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - mongodb-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password

  mongo-express:
    image: mongo-express
    ports:
      - 8080:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongodb

  nodejs-backend:
    image: paginated-list-backend:1.0
    ports:
      - 9000:9000
    depends_on:
      - "mongodb"
    environment:
      PORT: 9000
      NODEJS_MONGODB_SCHEME: mongodb
      NODEJS_MONGODB_USERNAME: admin
      NODEJS_MONGODB_PASSWORD: password
      NODEJS_MONGODB_SERVICE_PORT: mongodb:27017

  react-frontend:
    image: paginated-list-frontend:1.0
    tty: true
    ports:
      - 3000:3000
    depends_on:
      - "nodejs-backend"
    environment:
      PORT: 3000
      REACT_APP_BACKEND_URL: http://localhost:9000/

volumes:
  mongodb-data:
    driver: local
